/* Underline animation effect for links */
.link-underline {
    position: relative;
    color: #1976d2;
    text-decoration: none;
}
.link-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #1976d2;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}
.link-underline:hover::after {
    transform: scaleX(1);
}
